<!DOCTYPE html>
<hmtl>
  <head>
    <title>ONTHEBENCH</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>

  </head>
  <body>

    <nav class="navbar bg-primary fixed-top">
      <a class="navbar-brand" href="/">ONTHEBENCH</a>

      <h4 class="navbar-nav navbar-right">
        <%= profile.fullName %>
        <a href="/profile" class="fa fa-cogs no-hover"></a>
      </h4>
    </nav>

    <container>
      <form method="post" action="/login" class="form form-login">
        <h2 class="form-heading form-login-heading">
          New team
        </h2>
        <% if (error) { %>
          <p class="error"><%= error.message %></p>
        <% } %>

        <!-- club -->
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" id="inputClub" name="email" class="form-control" placeholder="Email" required disabled />

        <!-- password -->
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required />

        <!-- submit -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>
    </container>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</hmtl>
