/* GENERAL */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
a {
  color: #219351;
}
a.fa:hover {
  text-decoration: none;
}
hr {
  border-color: #ccc;
  color: #ccc;
  background-color: #ccc;
}
container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content {
  width: 75%;
  flex-direction: column;
}
.content h4 {
  margin-top: 36px;
}
.centered {
  text-align: center;
  margin: 0 auto;
}
.fa {
  color: #333;
}
/* BUTTON */
.container-btn {
  width: 250px;
  margin: auto;
  margin-top: 15px;
}
.btn-inverted.btn-primary {
  background-color: transparent;
  border-color: #219351;
}
.btn-inverted.btn-primary .fa {
  color: #219351;
}
.btn-inverted.btn-primary:hover .fa {
  color: #fff;
}
a.club-add {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #333;
  font-size: 20px;
}
.club-add:hover,
.club-add:focus {
  text-decoration: none;
}
.club-add:hover .fa {
  color: #219351;
}
/* FORM */
.form {
  margin-top: 10%;
  width: 250px;
}
.form input,
.form select {
  margin: 7px 0;
}
.form button:hover {
  color: #219351;
  background-color: #fff;
  border-color: #219351;
}
.form-inline.form-club-search {
  width: 75%;
  justify-content: space-between;
}
.form-inline.form-club-search .form-control {
  display: inline-block !important;
  width: 59%;
}
.form-inline.form-club-search .select {
  width: 20%;
}
.form-inline.form-club-search button {
  margin-top: -1px;
  width: 20%;
}
.form-inline.form-club-search button:hover {
  color: #fff;
  background-color: #219351;
}
.form-team,
.form-event {
  width: 400px;
}
/* listItems */
.listItem {
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.listItem .left {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}
.listItem .right {
  width: 50px;
  height: 100%;
  display: flex;
}
.listItem .right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.listItem .fa {
  font-size: 24px;
}
.listItem h3 {
  margin: 0;
  margin-left: 15px;
}
/* NAVBAR */
.navbar {
  border-radius: 0;
  display: flex;
}
.navbar a {
  color: #fff;
}
.navbar a:hover {
  background-color: #fff;
  color: #219351;
  text-decoration: none;
}
.navbar a.no-hover:hover {
  background-color: transparent;
  color: inherit;
}
.navbar h4 {
  color: #fff;
}
.navbar .navbar-brand {
  align-self: flex-start;
}
.navbar .navbar-nav {
  margin-right: 15px;
  margin-left: auto;
  align-self: center;
  display: inline;
  flex-direction: row;
}
header {
  width: 75%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  vertical-align: center;
}
header .right {
  display: flex;
  align-items: center;
}
header .right .fa {
  margin: 0 7px;
  font-size: 36px;
}
header .right .fa:hover {
  text-decoration: none;
}
