/* GENERAL */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #219351;
}
hr {
  border-color: #ccc;
  color: #ccc;
  background-color: #ccc;
}
.content {
  width: 75%;
  margin: 0 auto;
}
.content h4 {
  margin-top: 36px;
}
.centered {
  text-align: center;
  margin: 0 auto;
}
.fa {
  color: #333;
}
/* BUTTON */
.container-btn {
  width: 250px;
  margin: auto;
  margin-top: 15px;
}
.btn-inverted.btn-primary {
  background-color: transparent;
  border-color: #219351;
  color: #219351;
}
a.club-add {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #333;
  font-size: 20px;
}
.club-add:hover,
.club-add:focus {
  text-decoration: none;
}
.club-add:hover .fa {
  color: #219351;
}
/* FORM */
.form {
  width: 250px;
  margin: auto;
}
.form-inline.form-club-search {
  margin: 36px auto;
  width: 75%;
}
.form-inline.form-club-search .form-control {
  display: inline-block !important;
  width: 79.5%;
}
.form-inline.form-club-search button {
  margin-top: -1px;
  width: 20%;
}
.form-inline.form-club-search button:hover {
  color: #fff;
  background-color: #219351;
}
.form input,
.form select {
  margin: 7px 0;
}
.form-team {
  width: 400px;
}
/* listItems */
.dashboardItem {
  margin: 7px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 50px;
  padding: 7px;
}
.dashboardItem *,
.club-add * {
  display: inline;
  vertical-align: middle;
}
.dashboardItem .fa {
  margin: 0 15px;
  font-size: 24px;
  color: #333;
}
.dashboardItem .fa:hover {
  text-decoration: none;
  color: #219351;
}
.fa.right-aligned {
  float: right;
  line-height: 50px;
  vertical-align: middle;
}
/* NAVBAR */
.navbar {
  border-radius: 0;
}
.navbar a {
  color: #ffffff;
}
.navbar a:hover {
  background-color: #ffffff;
  color: #219351;
}
.navbar-nav {
  min-width: 150px;
  margin-right: 0;
  float: right;
}
.navbar-nav.navbar-right {
  text-align: right;
  margin-right: 15px;
  line-height: 50px;
}
.navbar-nav.navbar-right a {
  text-decoration: none;
}
.navbar-nav .nav-item {
  display: inline-flex;
}
.navbar-nav.navbar-right a.no-hover:hover {
  background-color: transparent;
}
