<!DOCTYPE html>
<hmtl>
  <head>
    <title>ONTHEBENCH</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>

  </head>
  <body>

    <nav class="navbar bg-primary fixed-top">
      <a class="navbar-brand" href="/">ONTHEBENCH</a>
      <ul class="nav navbar-nav">
        <% for(var i = 0; i < menuitems.length; i++) { %>
          <li class="nav-item"><a href="<%= menuitems[i] %>"><%= menuitems[i] %></a></li>
        <% } %>
      </ul>
    </nav>

    <container>
      <form method="post" action="/register" class="form form-register">
        <h2 class="form-heading form-register-heading">
          Register
        </h2>
        <% if (error) { %>
          <p class="error"><%= error.message %></p>
        <% } %>

        <!-- first name -->
        <label for="inputFirstName" class="sr-only">First name</label>
        <input type="text" id="inputFirstName" name="firstName" class="form-control" placeholder="First name" required autofocus />

        <!-- last name -->
        <label for="inputLastName" class="sr-only">Last name</label>
        <input type="text" id="inputLastName" name="lastName" class="form-control" placeholder="Last name" required />

        <!-- position -->
        <label for="inputPosition" class="sr-only">Position</label>
        <select class="form-control" id="inputPosition" name="position" required>
          <option value="" selected disabled>Position</option>
          <option value="bench">Bench heater</option>
          <option value="striker">Striker</option>
          <option value="midfielder">Midfielder</option>
          <option value="defender">Defender</option>
          <option value="keeper">Keeper</option>
        </select>

        <!-- email -->
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required  />

        <!-- password -->
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required />

        <!-- password confirm -->
        <label for="inputPasswordConfirm" class="sr-only">Password Confirm</label>
        <input type="password" id="inputPasswordConfirm" name="passwordConfirm–" class="form-control" placeholder="Password confirm" required />

        <!-- submit -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>
    </container>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</hmtl>
