<!DOCTYPE html>
<hmtl>
  <head>
    <title>ONTHEBENCH</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>

  </head>
  <body>

    <nav class="navbar bg-primary fixed-top">
      <a class="navbar-brand" href="/">ONTHEBENCH</a>

      <h4 class="navbar-nav navbar-right">
        <%= profile.fullName %>
        <a href="/profile" class="fa fa-cogs no-hover"></a>
      </h4>
    </nav>

    <container>
      <h1><%= team.name %></h1>
    </container>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</hmtl>
