/* NAVBAR */
.navbar {
  border-radius: 0;
  a {
    color: #fff;
    &:hover {
      background-color: #fff;
      color: @primary;
    }
  }

  .navbar-nav {
    min-width: 150px;
    margin-right: 0;
    float: right;

    .nav-item {
      display: inline-flex;
    }
  }

  .navbar-nav.navbar-right {
    text-align: right;
    margin-right: 15px;
    line-height: 50px;

    a {
      text-decoration: none;
    }

    a.no-hover:hover {
      background-color: transparent;
      color: inherit;
    }
  }
}
